*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
#preloader{
    top: 0;
    left: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: #27272c;
    background-image: linear-gradient(19deg, #27272c 0%, #161618 100%);
    z-index: 100;
    color: #eee;
}
#preloader_img_div{
    display: block;
    margin: 45vh auto;
    width: 10vh;
    height: 10vh;
}
@keyframes preloader-rotate{
    100%{
        transform: rotate(360deg);
    }
}
#preloader_img{
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
}